<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsCheck" version="0.8.1.0" />
  <package id="FsCheck.Xunit" version="0.1.0.0" />
  <package id="FSPowerPack.Core.Community" version="2.0.1.0" />
  <package id="MathNet.Numerics" version="2.1.2" />
  <package id="MathNet.Numerics.FSharp" version="2.1.2" />
  <package id="MathNet.Numerics.FSharp.Sample" version="2.1.2" />
  <package id="MSDN.FSharpChart.dll" version="0.60" />
  <package id="Unquote" version="2.2.2" />
  <package id="xunit" version="1.9.0.1566" />
  <package id="zlib.net" version="1.0.4.0" />
</packages>